html body {
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans','Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
}

body .__bgImage {
    background-image: url("../images/motoristbg.jpg")!important;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    backface-visibility: hidden;
    position: fixed;
    top: -10em;
    bottom: -10em;
    left: -10em;
    right: -10em;
    transition: all .2s linear;
}
header .t-Header-logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.2rem;
}

.t-Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #A4040A !important;
    border: none;
    z-index: 800;
  }

.t-Header-logo{
    justify-content: flex-end;
    align-items: center;
}

.t-Header-logo-link {
    padding: 4px 8px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
  .t-Header-branding {
    height: 68px;
    position: relative;
    z-index: 795;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



  .t-Header-navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    flex-shrink: 0;
    margin-right: 8px;
    height: 100%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.t-Header-logo-link img {
    max-height: 4rem;
    display: block;
}

li {
    font-size: 1.4rem;
    line-height: 2rem;
    
}

.t-NavigationBar-item {
    display: inline-block;
    vertical-align: top;
    
}

header .t-NavigationBar-item .t-Button {
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 68px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-decoration: none !important;
}

.t-Header-logo, .t-Header .t-Button--header.is-active, .t-Header .t-Button--header {
    color: #ffffff;
}


.t-Body-contentInner:before {
    content: "";
    background-color: rgba(164, 4, 9,.75);
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    right: 2rem;
    top: 0;
}

.t-Body-contentInner {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 100%;
    padding: 16px;
    flex-grow: 1;
    width: 100%;
}

.t-Body-contentInner>.container {
    padding-bottom: 80px;
}

.col .rel-col:after, .col .rel-col:before, .container:after, .container:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.content__center {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    text-align: center;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
}

#content .logos img {
    padding: 20px;
    height: 250px;
}



.row {
    margin-right: -8px;
    margin-left: -8px;
}

.page__loaded .content__center h1, .page__loaded .content__center h3, .page__loaded .logo {
    opacity: 1;
    transform: scale(1,1);
}

.__greeting h1, .__greeting h3, .content__center h3, .logo {
    transition: .5s ease-in-out;
    opacity: 0;
    transform: scale(.8,.8);
}

h1 {
    font-size: 8rem;
}

#content {
    color: white;
}

.content__center h3 {
    font-size: 3em;
    font-weight: 300;
}

#content button.login-button, #content button.register-button {
    transition: background .4s ease-in-out,border .4s ease-in-out,color .4s ease-in-out,.4s ease-in-out;
}


#content button.t-Button--large {
    font-size: 2rem;
    border-radius: 1rem!important;
    padding: 0.5em 2em;
    box-shadow: none;
}

#content .register-button {
    color: white;
    border: solid 0.5px #e10017;
    border-radius: 5px;
    padding: 15px 50px;
    background-color: #e10017;
}

#content button {
    font-size: 34px;
    font-weight: 600;
    margin: 0 30px;
    line-height: 2;
}

.page__landing.page__loaded .btn__animate, .page__landing.page__loaded .t-Cards-item {
    opacity: 1;
    transform: translate(0,0);
}

.t-Button {
    background: 0 0;
    background-clip: padding-box;
    border: 0.1rem solid;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.t-BreadcrumbRegion--useBreadcrumbTitle .t-Breadcrumb-item:last-child, .t-Button {
    position: relative;
}

.col, .grid-debug-on .container, .grid-debug-on .row, .t-Header-branding, .t-HeroRegion {
    position: relative;
}

header .t-NavigationBar-item .t-Button {
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 68px;
    padding: 24px 10px;
    position: relative;
}

h1 {
    font-weight: 300;
    font-size: 10rem !important;
    margin: 0;
}