RewriteEngine On
RewriteRule ^login$ index.php [NC,L]
RewriteRule ^records$ ctmeupage.php [NC,L]
RewriteRule ^archives$ ctmeuarchive.php [NC,L]
RewriteRule ^user-creation$ ctmeucreate.php [NC,L]
RewriteRule ^settings$ ctmeusettings.php [NC,L]
RewriteRule ^user-profile$ ctmeuusers.php [NC,L]
RewriteRule ^ticket-details$ detailarch.php [NC,L]
RewriteRule ^ticket-creation$ ctmeuticket.php [NC,L]
RewriteRule ^reports$ ctmeurecords.php [NC,L]
